<div class="jumbotron text-center">
    <h1>ECO SASTRERÍA</h1>
</div>

<div id="Productos" class="container-fluid bg-grey">
    <h2 class="text-center">Editor usuario</h2>  
        <form [formGroup]="fgValidador" (ngSubmit)="EditarUsuario()" method="POST" action="formulario-contacto.php">
            <input type="hidden" formControlName="id" />            
            <div class="form-row">  

            <div class="form-group col-md-6">
                    <label class="control-label" for="Nombre">Nombre  *</label> 
                    <input formControlName="nombre" id="Nombre" name="Nombre" type="text" class="form-control" required placeholder="Nombre del usuario">                                             
            </div>  

            <div class="form-group col-md-6">
                <label class="control-label" for="Nombre">Correo *</label> 
                <input formControlName="correo" id="correo" name="correo" type="email" class="form-control" required placeholder="Ingrese el correo electrónico">                                             
              </div>  

              <div class="form-group col-md-6">
                <label class="control-label" for="rol">Rol *</label> 
                <input formControlName="rolId" id="rol" name="rol" type="text" class="form-control" required placeholder="Ingrese un rol">                                             
              </div>  
        
            <p class="form-group col-md-6">
                <button [disabled]="!fgValidador.valid" class="btn btn-primary" type="submit">Actualizar</button>
            </p>
        </div>
    </form>    
</div>