<div class="jumbotron text-center">
  <h1>ECO SASTRERÍA</h1> 
  <p>Creemos en la moda sostenible mediante la venta de vestiarios amigables con el medio ambiente, queremos entregar diseño, exclusividad y calidad sin problemas de conciencia. Somos un estilo de vida.</p> 
</div>

<!--ACERCA-->

<div id="Acerca" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Sobre nosotros</h2><br>
      <h4>En Eco sastería entendemos el daño que el fast fashion causa en el medio ambiente, y por eso decidimos dar un paso en una dirección sostenible.</h4><br>            
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>NUESTROS VALORES</h2><br>
      <h4><strong>MISIÓN:</strong> Brindar prendas de alta calidad alineados con estándares de sostenibilidad.</h4><br>
      <h4><strong>VISIÓN:</strong> Somos una empresa que tiene presencia y reconocimiento nacional, con productos y servicios propios 
        alineados a estándares de calidad.</h4>
    </div>
  </div>
</div>

<!--SERVICIOS-->

<div id="Servicios" class="container-fluid text-center">
  <h2>SERVICIOS</h2>
  <h4>¿Qué ofrecemos?</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>EMPODERAMIENTO</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>PERSONALIZADO</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>CALIDAD</h4>
      <p></p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>SOSTENIBILIDAD</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFICACIÓN AUTENTICIDAD</h4>
      <p></p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">GARANTÍA</h4>
      <p></p>
    </div>
  </div>
</div>

<!--PORTAFOLIO-->

<div id="Portfolio" class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2><br>
  <h4>Lo que hemos creado</h4>
  <div class="row text-center slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src=" .../../../assets/Conference 1.png " alt="" width="400" height="300">
        <p><strong>Conferencia en Santamarta</strong></p>
        <p>Creamos los trajes para mujeres líderes en la conferencia de Santamarta 2019 </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../../assets/Conference 2.png" alt="" width="400" height="300">
        <p><strong>Feria de Medellín</strong></p>
        <p>Nosotros trabajamos en la feria de Medellín 2020</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="../../../assets/Conference 3.png" alt="" width="400" height="300">
        <p><strong>Reunión Popayan</strong></p>
        <p>Grandes lideres en Popayan en la reunión de sostenibilidad 2021</p>
      </div>
    </div>
  </div><br>
  
  <h2>¿Qué dicen de nosotros?</h2>
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
   
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"Esta empresa de ropa es la mejor. ¡Estoy muy contenta con el resultado!"<br><span>Andrea Gómez</span></h4>
      </div>
      <div class="item">
        <h4>"WOW, lo mejor en sastería!! Lo recomiendo 1000 veces"<br><span> Mariana Baron</span></h4>
      </div>
      <div class="item">
        <h4>"No podría estar más complacido con el resultado, Mi traje quedó tal y como lo pedí"<br><span>Santiago Lupan</span></h4>
      </div>
    </div>
    
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!--PRODUCTOS-->

<div id="Productos" class="container-fluid">
  <div class="text-center">
    <h2>PRODUCTOS</h2>
    <h4>Elige el producto que haremos para ti.</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Traje Masculino</h1>
        </div>
        <div class="panel-body">
          <img src="../../../assets/Traje Hombres.png" alt="" width="300">
          <p><strong>S</strong> Nutria</p>
          <p><strong>M</strong> Beluga</p>
          <p><strong>L</strong> Cangrejo</p>
          <p><strong>XL</strong> Dugongo</p>
          <p><strong>A medida</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$450.000</h3>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Traje femenino</h1>
        </div>
        <div class="panel-body">
          <img src="../../../assets/Traje Mujeres.png" alt="" width="300">
          <p><strong>XS</strong> Tangara</p>
          <p><strong>S</strong> Colobrí</p>
          <p><strong>M</strong> Flamenco</p>
          <p><strong>L</strong> Aguila</p>
          <p><strong>A medida</strong> </p>
        </div>
        <div class="panel-footer">
          <h3>$450.000</h3> 
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Complementos</h1>
        </div>
        <div class="panel-body">
          <img src="../../../assets/Accesorios.png" alt="" width="300">
          <p><strong>4</strong> koala</p>
          <p><strong>6</strong> Camello</p>
          <p><strong>8</strong> Zorro</p>
          <p><strong>10</strong> Unicornio Africano</p>
          <p><strong>A medida</strong></p>
        </div>
        <div class="panel-footer">
          <h3>$180.000</h3>
        </div>
      </div>      
    </div>    
  </div>
</div>

<!--CONTACTO-->

<div id="Contacto" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACTO</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contactanos y te responderemos dentro de las proximas 24 horas.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Manizales, CO</p>
      <p><span class="glyphicon glyphicon-phone"></span> +57 1212121212</p>
      <p><span class="glyphicon glyphicon-envelope"></span> contacto@ecosastreria.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nombre" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comentario" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>
