<br />
<br />
<br />
<div class="container-fluid bg-grey">
    <div class="abs-center">
        <div class="card col-md-5 col-lg-offset-4 p-md-5">
            <h2 class="text-center">CAMBIO DE CONTRASEÑA</h2>

            <form class="row g-3 needs-validation">
                <div class="col-md-6">
                    <label for="txtCorreo" class="form-label">Correo Electrónico</label>
                    <div class="input-group has-validation">
                        <input formControlName="usuario" type="email" class="form-control" id="txtCorreo"
                            aria-describedby="inputGroupPrepend" placeholder="Ingrese su correo electrónico" />
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="txtContraseña" class="form-label">contraseña</label>
                    <div class="input-group has-validation">
                        <input formControlName="clave" type="password" class="form-control" id="txtContraseña" placeholder="Ingrese su contraseña"/>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>               

                <div class="col-md-6">
                    <p>
                        Se le notificará vía correo electrónico la nueva contraseña *                       
                    </p>
                </div>

                <div class="col-md-12 button">
                    <button class="btn btn-primary" type="submit">
                        Enviar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

