
<div class="jumbotron text-center">
    <h1>ECO SASTRERÍA</h1>    
  </div>
  
  <div id="Productos" class="container-fluid bg-grey">
    <h2 class="text-center">Regístrate</h2>                
        <form [formGroup]="fgValidador" (ngSubmit)="GuardarUsuario()" method="POST" action="formulario-contacto.php" >
            
            <div class="col-md-2 offset-md-2"></div>
            <div class="form-group col-md-4">
                <label class="control-label" for="Nombre">Nombre *</label>
                <input formControlName="nombre" type="text" name="nombre" placeholder="Ingrese su nombre"  type="text" class="form-control "  required>
            </div>      

            <div class="form-group col-md-4">
                <label  class="control-label" for="correo">Correo elétronico * </label>
                <input formControlName="correo" type="email" name="correo" placeholder="Ingrese su correo electrónico" class="form-control" required>
            </div> 
            
            <div class="col-md-6 offset-md-6"></div>

            <p class="form-group col-md-4">
                <button [disabled]="!fgValidador.valid" class="btn btn-primary" type="submit">Enviar</button>
            </p>
        </form>
   
</div>